.mainDiv {
  padding: 20px;
}

.Header > .card {
  background-color: grey;
  padding: 20px;
}

.Content {
  padding-top: 20px;
  padding-left: 20px;
}

.messageOutput {
    min-height: 60px;
}

.separator {
    background-color: skyblue;
    min-height: 10px;
}
